{:paths     ["src"]
 :deps      {io.pedestal/pedestal.service {:mvn/version "0.5.7"}
             io.pedestal/pedestal.route   {:mvn/version "0.5.7"}
             io.pedestal/pedestal.jetty   {:mvn/version "0.5.7"}
             org.slf4j/slf4j-simple       {:mvn/version "1.7.28"}}
 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}}}
